
/* ==========FONTS=========== */

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

/* ========RESET========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========HEADER======= */

.top_header {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.logo_link {
  display: flex;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #06324F;
  text-decoration: none;
  margin-top: 24px;
}

.logo_name {
  margin-top: 8px;
  margin-left: 8px;
}

.logo_svg {
  width: 32px;
  height: 32px;
}

.header_adress {
  font-family: 'FiraSans', Arial, sans-serif;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  margin-top: 32px;
}

.header_contacts {
  display: flex;
  justify-content: space-between;
}

.mail_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  text-align: center;
  margin-top: 32px;
}

.tel_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #0B8F91;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.tel {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 30px;
}

.tel_svg {
  margin-top: 24px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 48px 64px 16px;
}

.menu_link {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
}


/* ==========MAIN========== */

.main {
  background-color: rgb(242, 243, 247);
}

.main_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #06324F;

  display: block;
  padding-bottom: 16px;
}

/* ==========MAP========= */

.map {
  margin-bottom: 112px;
}

.map_header {
  padding: 64px 24px 40px;
}
.yandex_map {
  width: 100vw;
  height: 448px;
}

/* ==========CONTACT========== */

.contact {
  width: 816px;
  background-color: rgb(242, 243, 247);
  margin: 0 auto;
  padding-bottom: 136px;
}

.contact_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  color: #06324F;

  display: block;
  margin-bottom: 16px;
}

.contact_card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(242, 243, 247);
  border-radius: 5px;
}

.contact_inputs {
  display: flex;
  flex-direction: column;
}

.contact_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 816px;
}

.form_field {
  width: 400px;
  border: 1px solid rgba(6, 50, 79, 0.07);
  border-radius: 100px;
  padding: 16px;
}

.form_textarea {
  resize: none;
  width: 816px;
  height: 176px;
  border: 1px solid rgba(6, 50, 79, 0.07);
  border-radius: 24px;
  padding: 16px;
}

.submit {
  display: flex;
}

.submit_button {
  cursor: pointer;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  border: none;

  background-color: #0B8F91;
  border-radius: 100px;
  padding: 16px 52px;
  margin-right: 24px;
}

.submit_confirm {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: #6F7583;
  width: 392px;
}



 /* ==========FOOTER============ */

 .footer {
  background-color: #06324F;
  padding: 48px 24px 24px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
}

.footer_logo_svg {
  width: 74px;
  height: 74px;
  margin-bottom: 16px;
  align-self: center;
}

.svg_group {
  margin-top: 24px;
}

.svg:nth-child(n + 2) {
  margin-left: 37px;
}

.footer_logo_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer_list {
  list-style-type: none;
}

.footer_list_item {
  margin-top: 16px;
}

.footer_top_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

.footer_list_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid rgba(32, 70, 97);
}

.copyright_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}