/* ==========FONTS=========== */

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

/* ========RESET========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========HEADER======= */

.top_header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1392px;
}

.logo_link {
  display: flex;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #06324F;
  text-decoration: none;
  margin-top: 24px;
}

.logo_name {
  margin-top: 8px;
  margin-left: 8px;
}

.logo_svg {
  width: 32px;
  height: 32px;
}

.header_adress {
  font-family: 'FiraSans', Arial, sans-serif;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  margin-top: 32px;
}

.header_contacts {
  display: flex;
  justify-content: space-between;
}

.mail_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  text-align: center;
  margin-top: 32px;
}

.tel_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #0B8F91;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.tel {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 30px;
}

.tel_svg {
  margin-top: 24px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 48px auto 16px;
  width: 1392px;
}

.menu_link {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
}

/* ============MAIN=========== */

.main {
  background-color: rgb(242, 243, 247);
}

.main_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #06324F;

  display: block;
  padding-bottom: 16px;
}

.main_top {
  position: relative;
  background: linear-gradient(90deg, #09121B -8.75%, #1A3347 50.75%, #1A3349 113.92%);
  mix-blend-mode: normal;
  margin-bottom: 64px;
  z-index: 0;
}

.main_top::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../images/banner_fix.png');
  background-position: right center;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  opacity: 0.85;
  z-index: -1;
}

@media (min-width: 2048px) {
  .main_top::after {
    background-image: url('../images/fish_banner.png');
    background-position: right -100px center;
  }
}

.banner_description {
  padding: 102px 60px 112px;
  width: 1392px;
  margin: 0 auto;
}

.desc_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;

  display: block;
  margin-bottom: 16px;
}

.desc_text {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  margin-bottom: 40px;
}

.button_book {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;

  background-color: #0B8F91;
  padding: 16px 56px;
  border-radius: 100px;
}

/* =========BENEFITS========== */

.main_benefits {
  width: 1392px;
  margin: 0 auto;
}

.benefits {
  background-color: #ffffff;
  padding: 35px 26px 32px;
  border-radius: 5px;
}

.benefits_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.benefits_list_item {
  display: flex;
  flex-direction: column;
}

.benefits_svg {
  margin-bottom: 20px;
  height: 64px;
}

.benefits_description {
  text-align: center;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #06324F;
}

/* =========SERVICES=========== */

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  width: 1440px;
  margin: 112px auto;
}

.services_card {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
  width: 680px;
  height: 256px;
}

.services_container:nth-child(n + 3) {
  padding-top: 64px;
}

.card_left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 32px;
  height: 192px;
}

.card_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #06324F;
}

.card_description {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  margin-top: 16px;
}

.card_button {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #0B8F91;

  margin-top: 36px;
  padding: 12px 43px;
  width: 245px;
  text-align: center;
  background-color: rgba(252, 252, 253, 2.25);
  border-radius: 100px;
  align-self: flex-start;
  justify-self: flex-end;
}

/* =========ROOMS======== */

.rooms {
  max-width: 1392px;
  margin: 0 auto 112px;
}

.rooms_container {
  display: flex;
  justify-content: space-between;
}

.room_card {
  background-color: #ffffff;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
}

.room_card_container {
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #06324F;
  display: block;
  text-align: center;
}

.room_description {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  color: #06324F;
  margin-top: 16px;
}

.room_list_header {
  display: block;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #EDF1F3;
  margin-bottom: 16px;
  margin-top: 24px;
}

.room_services {
  height: 126px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.room_service {
  list-style-type: none;
  margin-bottom: 16px;
  display: flex;
}

.room_service_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #06324F;
  margin-left: 8px;
}

.room_price_container {
  display: flex;
  flex-direction: column;
}

.room_price {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  color: #06324F;
}

.room_extra_price {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #06324F;
}

.book_room {
  display: block;
  width: 282px;
  background-color: #0B8F91;
  padding: 16px 42px;
  border-radius: 100px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.show_all_rooms {
  display: block;
  background-color: #ffffff;
  padding: 32px 0;
  margin-top: 24px;
  border-radius: 5px;

  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #06324F;
}

/* ==========REVIEW========== */

.review {
  width: 1392px;
  margin: 0 auto 112px;
}

.review_container {
  display: flex;
  justify-content: space-between;
}

.review_card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-radius: 5px;
  width: 324px;
}

.review_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #06324F;
  margin-bottom: 16px;
}

.review_text {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #06324F;
  margin-bottom: 24px;
}

.review_full_button {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #0B8F91;

  padding: 12px 43px;
  width: 130px;
  text-align: center;
  background-color: rgba(252, 252, 253, 2.25);
  border-radius: 100px;
  align-self: flex-end;
}

/* ========PANEL========= */

.panel {
  background-color: #06324F;
}

.panel_container {  
  display: flex;
  justify-content: space-between;
  width: 1392px;
  margin: 0 auto 112px;
}

.panel_description {
  padding: 112px 92px;
}

.panel_svg {
  margin-right: 224px;
}

/* =========NEWS_BLOG========= */

.news_blog {
  width: 1392px;
  margin: 0 auto 112px;
}

.nb_container {
  display: flex;
  justify-content: space-between;
}

.nb_card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 32px;
  width: 680px;
}

.nb_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nb_head {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #06324F;
}

.nb_date {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
  color: #06324F;
  background-color: rgba(252, 252, 253, 2.25);
  padding: 4px 16px;
  border-radius: 100px;
}

.nb_category {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
  color: #06324F;
  background-color: rgba(252, 252, 253, 2.25);
  padding: 4px 26px;
  border-radius: 100px;
}

.nb_description {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #06324F;
  margin-top: 16px;
}

.nb_button {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #0B8F91;

  padding: 12px 43px;
  margin-top: 48px;
  width: 130px;
  text-align: center;
  background-color: rgba(252, 252, 253, 2.25);
  border-radius: 100px;
  align-self: flex-end;
}

/* ==========MAP========= */

.map {
  margin-bottom: 112px;
}

.map_header {
  margin-left: 24px;
}
.yandex_map {
  width: 100vw;
  height: 448px;
}

/* ==========CONTACT========== */

.contact {
  width: 1392px;
  margin: 0 auto;
  padding-bottom: 112px;
}

.contact_card {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 5px;
}

.cc_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #06324F;
}

.cc_description {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #06324F;
  margin-top: 16px;
  width: 534px;
}

.contact_form {
  margin-top: 16px;
}

.contact_inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 210px;
}

.form_field {
  width: 312px;
  border: 1px solid rgba(6, 50, 79, 0.07);
  border-radius: 100px;
  padding: 16px;
  margin-right: 24px;
}

.form_field:nth-child(n + 2) {
  margin-top: 16px;
}

.form_textarea {
  resize: none;
  width: 400px;
  height: 179px;
  border: 1px solid rgba(6, 50, 79, 0.07);
  border-radius: 24px;
  padding: 16px;
}

.submit {
  display: flex;
}

.submit_button {
  cursor: pointer;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  border: none;

  background-color: #0B8F91;
  padding: 16px 66px;
  border-radius: 100px;
  margin-right: 29px;
}

.submit_confirm {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: #6F7583;
  width: 392px;
}

 /* ==========FOOTER============ */

.footer {
  background-color: #06324F;
  padding: 48px 24px 24px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  width: 1392px;
  margin: 0 auto 40px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
}

.footer_logo_svg {
  width: 74px;
  height: 74px;
  margin-bottom: 16px;
  align-self: center;
}

.svg_group {
  margin-top: 24px;
}

.svg:nth-child(n + 2) {
  margin-left: 37px;
}

.footer_logo_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer_list {
  list-style-type: none;
}

.footer_list_item {
  margin-top: 16px;
}

.footer_top_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

.footer_list_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
}

.copyright {
  border-top: 1px solid rgba(32, 70, 97);
}

.copyright_container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  width: 1392px;
  margin: 0 auto;
}

.copyright_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}