/* ==========FONTS=========== */

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

/* ========RESET========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========HEADER======= */

.top_header {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.logo_link {
  display: flex;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #06324F;
  text-decoration: none;
  margin-top: 24px;
}

.logo_name {
  margin-top: 8px;
  margin-left: 8px;
}

.logo_svg {
  width: 32px;
  height: 32px;
}

.header_adress {
  font-family: 'FiraSans', Arial, sans-serif;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  margin-top: 32px;
}

.header_contacts {
  display: flex;
  justify-content: space-between;
}

.mail_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  text-align: center;
  margin-top: 32px;
}

.tel_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #0B8F91;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.tel {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 30px;
}

.tel_svg {
  margin-top: 24px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 48px 64px 16px;
}

.menu_link {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
}

/* ============MAIN=========== */

.main {
  background-color: rgb(242, 243, 247);
}

.main_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #06324F;

  display: block;
  padding-bottom: 16px;
}

.main_top {
  position: relative;
  background: linear-gradient(90deg, #09121B -8.75%, #1A3347 50.75%, #1A3349 113.92%);
  mix-blend-mode: normal;
  padding: 200px;
  margin-bottom: 64px;
  z-index: 0;
}

.main_top::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/images/banner_fix.png');
  background-size: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  opacity: 0.85;
  z-index: -1;
}

.banner_description {
  position: absolute;
  left: 60px;
  top: 112px;
}

.desc_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;

  display: block;
  margin-bottom: 16px;
}

.desc_text {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  margin-bottom: 40px;
}

.button_book {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;

  background-color: #0B8F91;
  padding: 16px 56px;
  border-radius: 100px;
}

.main_benefits {
  margin: 0 24px;
}

.benefits {
  background-color: #ffffff;
  padding: 35px 26px 32px;
}

.benefits_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.benefits_list_item {
  display: flex;
  flex-direction: column;
}

.benefits_svg {
  margin-bottom: 20px;
  height: 64px;
}

.benefits_description {
  text-align: center;
}

/* =========SERVICES=========== */

.services {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 112px;
  margin-bottom: 112px;
}

.services_card {
  background-color: #ffffff;
  padding: 32px;

  display: flex;
  justify-content: space-between;
  flex: 0;
  width: 47vw;
  height: 256px;
}

.services_container:nth-child(n + 3) {
  padding-top: 64px;
}

.card_left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 32px;
}

.card_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #06324F;
}

.card_description {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
}

.card_button {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #0B8F91;

  padding: 12px 43px;
  width: 245px;
  text-align: center;
  background-color: rgba(252, 252, 253, 2.25);
  border-radius: 100px;
}


 /* ==========FOOTER============ */

.footer {
  /* position: fixed;
  left:0px;
  bottom:0px;
  width:100%; */
  background-color: #06324F;
  padding: 48px 24px 24px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
}

.footer_logo_svg {
  width: 74px;
  height: 74px;
  margin-bottom: 16px;
  align-self: center;
}

.svg_group {
  margin-top: 24px;
}

.svg:nth-child(n + 2) {
  margin-left: 37px;
}

.footer_logo_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer_list {
  list-style-type: none;
}

.footer_list_item {
  margin-top: 16px;
}

.footer_top_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

.footer_list_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid rgba(32, 70, 97);
}

.copyright_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}