
/* ==========FONTS=========== */

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

/* ========RESET========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========HEADER======= */

.top_header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1392px;
}

.logo_link {
  display: flex;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #06324F;
  text-decoration: none;
  margin-top: 24px;
}

.logo_name {
  margin-top: 8px;
  margin-left: 8px;
}

.logo_svg {
  width: 32px;
  height: 32px;
}

.header_adress {
  font-family: 'FiraSans', Arial, sans-serif;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  margin-top: 32px;
}

.header_contacts {
  display: flex;
  justify-content: space-between;
}

.mail_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  text-align: center;
  margin-top: 32px;
}

.tel_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #0B8F91;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.tel {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 30px;
}

.tel_svg {
  margin-top: 24px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 48px 64px 16px;
  margin: 48px auto 16px;
  max-width: 1392px;
}

.menu_link {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
}

/* ==========MAIN========== */

.main {
  background-color: rgb(242, 243, 247);
}

.main_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #06324F;

  display: block;
  padding-top: 64px;
  margin-bottom: 24px;
}


/* ================MENU=============== */

.menu_container {
  width: 992px;
  padding: 32px;
  background-color: #ffffff;
}

.menu_text {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #06324F;
  margin-bottom: 32px;
}

.menu_phrase_text {
  width: 992px;
  text-align: center;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #0B8F91;
  margin: 0 auto;
}

.menu_base {
  width: 992px;
  margin: 0 auto;
  padding-top: 40px;
}

.menu_phrase {
  width: 100vw;
  height: 176px;
  margin: 64px 0 0;
  padding: 24px;
  background-color: #ffffff;
}

/* =======MENU_TABS======== */

.menu_tabs_list {
  width: 992px;
  margin: 64px auto 0;
  padding-bottom: 128px;
}

.menu_tabs_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  color: #06324F;
}

.menu_tabs {
  width: 992px;
  margin: 16px auto 0;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 16px 24px;
}

.menu_tabs>input[type="radio"] {
  display: none;
}

.menu_tabs>input[type="radio"]:checked+label {
  background-color: #f7f7f9;
  opacity: 1;
}

.menu_tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  /* border: 1px solid #eee; */
  padding: 10px 15px;
  border-radius: 4px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#menu_tab-btn-1:checked~#menu_content-1,
#menu_tab-btn-2:checked~#menu_content-2,
#menu_tab-btn-3:checked~#menu_content-3,
#menu_tab-btn-4:checked~#menu_content-4,
#menu_tab-btn-5:checked~#menu_content-5,
#menu_tab-btn-6:checked~#menu_content-6,
#menu_tab-btn-7:checked~#menu_content-7 {
  display: block;
}

.menu_tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 12px 23px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #0B8F91;
  opacity: 0.25;
}

.menu_tabs>label:nth-child(n + 2) {
  margin-left: 31px;
}

.menu_tabs>label:first-of-type {
  margin-left: 0;
}


/* ===========MENU_TABLE========== */

.menu_table_headers {
  display: flex;
  align-items: center;
}

.menu_table_header {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #06324F;
  border: 1px solid #F2F3F7;
  padding: 32px;
  width: 300px;
}

.menu_table_rows {
  display: flex;
  align-items: center;
}

.menu_table_row {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #06324F;
  border: 1px solid #F2F3F7;
  padding: 32px;
  width: 300px;
  height: 82px;
}

.menu_admin_text {
  background-color: #fff;
  padding: 32px;
  border-radius: 0 0 5px 5px;
}

.menu_admin_thick {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 13px;
  line-height: 24px;
  color: #06324F;
  text-align: right;
}

.menu_admin_fat {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  line-height: 16px;
  color: #06324F;
  text-align: right;
}


 /* ==========FOOTER============ */

 .footer {
  background-color: #06324F;
  padding: 48px 24px 24px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  width: 1392px;
  margin: 0 auto 40px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
}

.footer_logo_svg {
  width: 74px;
  height: 74px;
  margin-bottom: 16px;
  align-self: center;
}

.svg_group {
  margin-top: 24px;
}

.svg:nth-child(n + 2) {
  margin-left: 37px;
}

.footer_logo_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer_list {
  list-style-type: none;
}

.footer_list_item {
  margin-top: 16px;
}

.footer_top_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

.footer_list_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
}

.copyright {
  border-top: 1px solid rgba(32, 70, 97);
}

.copyright_container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  width: 1392px;
  margin: 0 auto;
}

.copyright_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}