
/* ==========FONTS=========== */

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

/* ========RESET========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 /* ==========FOOTER============ */

 .footer {
  position: fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background-color: #06324F;
  padding: 48px 24px 24px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
}

.footer_logo_svg {
  width: 74px;
  height: 74px;
  margin-bottom: 16px;
  align-self: center;
}

.svg_group {
  margin-top: 24px;
}

.svg:nth-child(n + 2) {
  margin-left: 37px;
}

.footer_logo_name {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.footer_list {
  list-style-type: none;
}

.footer_list_item {
  margin-top: 16px;
}

.footer_top_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
}

.footer_list_item > .footer_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid rgba(32, 70, 97);
}

.copyright_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}