<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рыбацкий Стан</title>
  <link rel="stylesheet" href="../css/about_us.css">
</head>
<body>
  <header class="header">
    <section class="top_header">
      <a href="../index.html" class="logo_link">
        <img src="../svg/logo.svg" alt="logo" class="logo_svg">
        <span class="logo_name">рыбацкий стан</span>
      </a>
      <a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="header_adress">
        <span class="adress">
          Астраханская обл., Камызякский р-н, п. Станья, ул. Рыбацкая, д. 21
        </span>
      </a>
      <div class="header_contacts">
        <a href="mailto:info@ribackiy-stan.ru" class="mail_link">
          <span>info@ribackiy-stan.ru</span>
        </a>
        <a href="tel:+79275792337" class="tel_link">
          <span class="tel">+7 927 579 23 37</span>
          <img src="../svg/phone.svg" alt="tel" class="tel_svg">
        </a>
      </div>
    </section>
    <nav class="header_menu">
      <ul class="menu_list">
        <li class="menu_item"><a href="" class="menu_link">О нас</a></li>
        <li class="menu_item"><a href="" class="menu_link">Номера</a></li>
        <li class="menu_item"><a href="" class="menu_link">Флот</a></li>
        <li class="menu_item"><a href="" class="menu_link">Цены</a></li>
        <li class="menu_item"><a href="" class="menu_link">Услуги</a></li>
        <li class="menu_item"><a href="" class="menu_link">Фотографии</a></li>
        <li class="menu_item"><a href="./reviews.html" class="menu_link">Отзывы</a></li>
        <li class="menu_item"><a href="./blog.html" class="menu_link">Блог</a></li>
        <li class="menu_item"><a href="./contact.html" class="menu_link">Контакты</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="about_base">
      <span class="main_header">О нашей рыболовной базе</span>
      <div class="about_container">
        <p class="about_text">Астрахань? Рыбалка? Базы? Спросите любого рыбака, где самая лучшая рыбалка в России, и большинство из опрошенных ответят: конечно же, рыбалка в Астрахани! Местные рыболовно-охотничьи базы в Астрахани пользуются не меньшим спросом, чем растиражированные туры в Турцию и Египет. Тем более что рыбалка и отдых на Волге в Астрахани по насыщенности и эмоциональной составляющей ни в чём не уступают аналогичному времяпровождению на Красном море, известном своей богатейшей фауной.</p>
        <p class="about_text">Астрахань? Рыбалка? Базы? Если и вас давно интересует охота и рыбалка в Астрахани и в данный момент вы находитесь в поиске подходящей базы отдыха, уделите особое внимание рыболовно-охотничьей базе «Рыбацкий стан».</p>
        <p class="about_text">Расположенный в Камызякском районе, на берегу реки Кизань — живописнейшем уголке Астраханской области, «Рыбацкий стан» впечатляет даже видавших виды охотников и рыболовов. Да, рыболовные базы в Астрахани многочисленны, и определиться с выбором, особенно неместным туристам, бывает непросто. Но мы можем с уверенностью сказать, что независимо, с какой целью вы приезжаете в «Рыбацкий стан»: заняться изматывающей трофейной рыбалкой, активной охотой, посидеть умиротворённо с удочкой на берегу или просто отдохнуть и подышать свежим воздухом на природе — мы предусмотрели всё для того, чтобы ваши рыбалка и отдых на Волге прошли на отлично! Неудивительно, что гости, посетившие многие астраханские рыболовные базы, возвращаются именно к нам — в уютный и комфортный «Рыбацкий стан»!</p>
        <div class="docs_container">
          <embed src="../images/Свидетельство Рыбацкий Стан.pdf" type="application/pdf" width="160px" height="225px" class="embed_doc">
          <embed src="../images/Приложение к свидетельству Рыбацкий Стан.pdf" type="application/pdf" width="160px" height="225px" class="embed_doc">
        </div>
      </div>
    </section>
    <section class="about_benefits">
      <span class="main_header">Наши преимущества</span>
      <div class="about_benefits_base">
        <div class="about_benefit">
          <div class="about_benefit_wrapper">
            <img src="../svg/spok.svg" alt="" class="benefits_svg"> 
            <h1 class="about_benefit_header">У нас спокойно</h1>
          </div>
          <p class="about_benefit_text">
            Просматривая многочисленные рыболовные базы отдыха в Астрахани, многие в приоритет ставят именно спокойствие. «Рыбацкий стан» гарантирует крепкий и спокойный сон уставшим охотникам и рыбакам, а также безопасность и комфорт гостям с детьми. Мы хотим, чтобы отдых и рыбалка в Астрахани принесли вам огромное удовольствие. И, конечно, чтобы вы вернулись к нам снова.
          </p>
        </div>
        <div class="about_benefit">
          <div class="about_benefit_wrapper">
            <img src="../svg/cheap.svg" alt="" class="benefits_svg">  
            <h1 class="about_benefit_header">У нас недорого</h1>
          </div>
          <p class="about_benefit_text">
            Несмотря на то, что Астрахань — не Сочи, цены на отдых здесь порой тоже кусаются. Но только не в «Рыбацком стане»! Мы стремимся сделать охоту и рыбалку в Астрахани доступной каждому желающему! Для вас мы предлагаем широкий выбор номеров различной ценовой категории — от практичных и экономичных до роскошных VIP-апартаментов на берегу реки Волги.
          </p>
        </div>
        <div class="about_benefit">
          <div class="about_benefit_wrapper">
            <img src="../svg/comfort.svg" alt="" class="benefits_svg">  
            <h1 class="about_benefit_header">У нас уютно</h1>
          </div>
          <p class="about_benefit_text">
            Отнюдь не все базы отдыха, предлагающие рыбалку на Волге, могут порадовать таким уровнем комфорта, как «Рыбацкий стан». Все номера оборудованы душевыми кабинками и санузлами, укомплектованы спутниковым ТВ, а также холодильником, кондиционером, фумигаторами от комаров и мух. Для гостей, располагающих собственным водным транспортом, у нас обустроен охраняемый причал на берегу реки Волги для стоянки лодок и катеров.
          </p>
        </div>
        <div class="about_benefit">
          <div class="about_benefit_wrapper">
            <img src="../svg/tasty.svg" alt="" class="benefits_svg">  
            <h1 class="about_benefit_header">У нас вкусно</h1>
          </div>
          <p class="about_benefit_text">
            Когда слова отдых, охота, рыбалка и Астрахань связывают воедино, нельзя не вспомнить о русской кухне. Ну, какая рыбалка в Астрахани без наваристой ухи?! Да и вообще: какой отдых на Волге без традиционной русской кухни?! Никакой! Поэтому в меню «Рыбацкого стана» предусмотрены свежесваренная уха, сытные щи и борщи, сочные шашлыки, горячие домашние пироги к чаю с чабрецом! Будьте уверены, даже если вы ничего сегодня не поймали, голодными вы не останетесь.
          </p>
        </div>
        <div class="about_benefit">
          <div class="about_benefit_wrapper">
            <img src="../svg/interest.svg" alt="" class="benefits_svg">  
            <h1 class="about_benefit_header">У нас интересно</h1>
          </div>
          <p class="about_benefit_text">
            … даже тем, кому не интересны охота и рыбалка в Астрахани в Дельте Волги! Находясь близ песчаного пляжа, мы приглашаем гостей отдохнуть и насладиться солнечными ваннами, чистейшей водой, живописными пейзажами природы. «Рыбацкий стан» – известнейшая рыболовная база Астраханской области, куда съезжаются не только любители охоты и рыбалки на раскатах, но и те, кто в кругу семьи или друзей решили просто отдохнуть от суеты мегаполисов и больших городов. Даже если вас не особо интересует рыбалка в Астрахани, цены вас приятно удивят. У нас можно поиграть в бильярд, насладиться русской банькой и шашлыками, вдыхая свежий, вкусный воздух, каким могут похвастаться далеко не все современные курорты.
            <br>
            <br>
            Мы приготовили все необходимое для тех, кого интересует увлекательное времяпрепровождение, охота, отдых, рыбалка. Астрахань - настоящий рай для ценителей русской природы. Эти места просто уникальны, и пропустить их невозможно, ведь это настоящая рыбалка на Волге. Базы отдыха рассыпаны по всему берегу и стараются привлечь к себе новых гостей. Побывав у нас один раз, вы вернетесь сюда снова. Ведь это настоящая рыбалка на Волге! Базы, такой как «Рыбацкий стан», уже не найдешь. Астрахань, рыбалка, базы отдыха – это те слова, которые должен знать каждый охотник и рыболов.
          </p>
        </div>
        <div class="about_benefit">
          <div class="about_benefit_wrapper">
            <img src="../svg/map.svg" alt="" class="benefits_svg">  
            <h1 class="about_benefit_header">Добраться просто</h1>
          </div>
          <p class="about_benefit_text">
            Далеко не все рыболовные базы в Астрахани удобны с точки зрения транспортной доступности. Многие рыболовно-охотничьи базы находятся в труднодоступных местах, куда на «легковушках» не добраться. Зато «Рыбацкий стан», расположенный на стрелке трёх банков: Рытого, Никитинского и Кулагинского, удобен для всех! А всего в 20 минутах на катере от нас — Каспийские раскаты!
          </p>
        </div>
      </div>
      
    </section>
    <section class="about_phrase">
      <p class="about_phrase_text">
        Приехав к нам в гости впервые, и познав, что такое рыбалка на Волге <br> Вы будете стремиться к нам отдохнуть каждый год
      </p>
    </section>
    <section class="about_base about_appeal">
      <div class="about_container">
        <h2 class="about_appeal_header">Обращение генерального директора ООО «Рыбацкий тан»</h2>
        <p class="about_text">
          Астрахань — мекка для рыболовов и охотников. О том, какими могут быть охота и рыбалка в Астрахани, слагают легенды. Трофейная рыбалка на Волге поражает даже видавших виды профессионалов, прибывающих сюда не только из России, но и других стран.
          <br>
          <br>
          От лица всего коллектива «Рыбацкого Стана» я приветствую вас, истинных ценителей и знатоков охоты и рыбалки, и предлагаю расположиться с комфортом на нашей рыболовно-охотничьей базе. Учитывая специфику отдыха, мы постарались обеспечить наших постояльцев всем необходимым, чтобы отдых на Волге остался в вашей памяти, как одно из самых ярких событий.
          <br>
          <br>
          Домой вы увезете не только незабываемые впечатления, но и самые настоящие трофеи — гордость для каждого рыболова и охотника. Зубастые щуки, золотистые сазаны, гигантские сомы, красавцы-судаки и жерехи, окуни, караси, красноперки, лещи — более 56 видов рыб, которыми вы можете пополнить свой список славы! Ну, и конечно, никто не уезжает без главного «рыболовного» символа Астрахани — воблы!
        </p>
        <div class="about_appeal_naming">
          <p class="about_appeal_naming_text">Желаю вам ни хвоста, ни чешуи!</p>
          <p class="about_appeal_naming_name">Сергей Ямполец</p>          
          <p class="about_appeal_naming_text">генеральный директор базы отдыха «Рыбацкий Стан»</p>        
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <section class="footer_top">
      <div class="footer_group">
        <a href="../index.html" class="footer_logo">
          <img src="../svg/logo_footer.svg" alt="" class="footer_logo_svg">
          <span class="footer_logo_name">рыбацкий стан</span>
        </a>
        <div class="svg_group">
          <a href="" class="instagram svg">
            <img src="../svg/instagram.svg" alt="" class="inst_svg">
          </a>
          <a href="" class="facebook svg">
            <img src="../svg/facebook.svg" alt="" class="fb_svg">
          </a>
          <a href="" class="whatsapp svg">
            <img src="../svg/whatsapp.svg" alt="" class="wa_svg">
          </a>
        </div>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">О нас</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Отзывы</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Оплата</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Реквизиты</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Услуги</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Рыбалка</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Охота</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Питание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Развлечение</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Цены</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Доп. услуги</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Люкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Полулюкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Одноместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(мансарда)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Трехместный</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Четырехместный</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Фотогалерея</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Фотографии</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Видео</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Контакты</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Астраханская обл., Камызякский р-н,<br> 
           п. Станья, ул. Рыбацкая, д. 21</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Координаты: 45.819128, 48.110281</a></li>
          <li class="footer_list_item"><a href="mailto:info@ribackiy-stan.ru" class="footer_link">info@ribackiy-stan.ru</a></li>
          <li class="footer_list_item"><a href="tel:+79275792337" class="footer_link">+7 (927) 579-23-37</a></li>
        </ul>
      </div>
     </section>
     <section class="copyright">
      <div class="copyright_container">
        <a href="" class="copyright_link">2011-2021 Рыбацкий стан</a>
        <a href="" class="copyright_link">Политика конфиденциальности</a>
        <a href="" class="copyright_link">Разработано в Everywin</a>
      </div>
     </section>
   </footer>
</body>
</html>