<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рыбацкий Стан</title>
  <link rel="stylesheet" href="../css/blog_page.css">
</head>
<body>
  <header class="header">
    <section class="top_header">
      <a href="../index.html" class="logo_link">
        <img src="../svg/logo.svg" alt="logo" class="logo_svg">
        <span class="logo_name">рыбацкий стан</span>
      </a>
      <a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="header_adress">
        <span class="adress">
          Астраханская обл., Камызякский р-н, п. Станья, ул. Рыбацкая, д. 21
        </span>
      </a>
      <div class="header_contacts">
        <a href="mailto:info@ribackiy-stan.ru" class="mail_link">
          <span>info@ribackiy-stan.ru</span>
        </a>
        <a href="tel:+79275792337" class="tel_link">
          <span class="tel">+7 927 579 23 37</span>
          <img src="../svg/phone.svg" alt="tel" class="tel_svg">
        </a>
      </div>
    </section>
    <nav class="header_menu">
      <ul class="menu_list">
        <li class="menu_item"><a href="" class="menu_link">О нас</a></li>
        <li class="menu_item"><a href="" class="menu_link">Номера</a></li>
        <li class="menu_item"><a href="" class="menu_link">Флот</a></li>
        <li class="menu_item"><a href="" class="menu_link">Цены</a></li>
        <li class="menu_item"><a href="" class="menu_link">Услуги</a></li>
        <li class="menu_item"><a href="" class="menu_link">Фотографии</a></li>
        <li class="menu_item"><a href="./reviews.html" class="menu_link">Отзывы</a></li>
        <li class="menu_item"><a href="./blog.html" class="menu_link">Блог</a></li>
        <li class="menu_item"><a href="./contact.html" class="menu_link">Контакты</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="main_article">
      <div class="article_header">
        <a href="./blog.html" class="back_to_blog">
          <span class="gray_header">Блог</span>
        </a>
        <span class="blue_header"> - Особенности ловли сома в Астрахани</span>
      </div>
      <article class="article_card">
        <span class="article_date">15 июня 2021</span>
        <span class="nb_head">Особенности ловли сома в Астрахани</span>
        <p class="article_text"> 
          Процесс рыбалки дело тонкое. Подход к каждой рыбе тоже имеет ряд особенностей, о которых мы хотим рассказать вам.
        </p>
        <p class="article_text">
          Ловля судака в Астрахани завершится успехом и удовольствием, если предварительно изучить немного информацию о этой рыбе, ее повадках, особенностях и предпочтениях в приманках.
        </p>
        <p class="article_text">
          Самое подходящее время для ловли сома — весна. После зимних морозов, эта рыбка становится очень активной и готовится к нересту. За счет ее активной позиции у вас будет множество шансов порадовать себя отличным уловом.
        </p>
        <p class="article_text">
          Итак, основные особенности ловли сома заключаются в следующем:
        </p>
        <p class="article_text">
          — Лучшее время для рыбалки на сома — ночь. Да, именно так. Сом — ночью не знает что такое сон. Так что у вас будут очень высокие шансы словить крупную рыбу под звездным небом.
        </p>
        <p class="article_text">
          — Приманка. Учитывая тот факт, что сом является хищной рыбой, поэтому предпочтения в приманке она отдает: куриной печени, сердечкам, червям. Не жалея вкусной приманки — вы получите обильный урожай из улова. Имейте и это ввиду.
        </p>
        <p class="article_text">
          — «Рыбные места» или где любит прятаться сом?
        </p>
        <p class="article_text">
          Глубокие ямы, коряги, русловые бровки и укромные места.
        </p>
        <p class="article_text">
          Какими снастями лучше ловить сома?
        </p>
        <p class="article_text">
          На донную снасть — это универсальный вариант для ловли «усатого» хищника с берега.
        </p>
        <p class="article_text">
          Квок. Ловля сома на квок происходит с лодки. Важно обзавестись мощными снастями.
        </p>
        <p class="article_text">
          Спиннинг. Этот вариант снасти отлично подойдет для ловли сома с берега. Выбирайте плетёную леску, она имеет хорошую прочность, это обеспечит высокую чувствительность снасти и отличный результат от улова.
        </p>
        <p class="article_text">
          В целом, сом рыба хищная, и чтобы получить максимально позитивные эмоции и результаты от рыбалки, приглашайте товарища. Так будет и веселей и эффективней справиться с крупным уловом.
        </p>
      </article>
    </section>
    <section class="blog">
      <span class="blog_header">Другие статьи</span>
      <div class="nb_container">
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Закон о рыбалке</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">С 1 января 2020 г. в стране начнут действовать новые правила любительской ловли. Из основного: вводятся суточные нормы вылова, ужесточаются ограничения на использование сетей и подводную ловлю.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Самая привлекательная рыбалка</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">Наверное, нет такого даже начинающего рыбака, который бы не знал, что наиболее привлекательная рыбалка — это рыбалка в Астрахани. Тем не менее, не все рыболовные базы в Астрахани предлагают любителям этого увлекательного и захватывающего занятия отличные условия для отменного времяпровождения.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
      </div>
    </section>
  </main>
  <footer class="footer">
    <section class="footer_top">
      <div class="footer_group">
        <a href="../index.html" class="footer_logo">
          <img src="../svg/logo_footer.svg" alt="" class="footer_logo_svg">
          <span class="footer_logo_name">рыбацкий стан</span>
        </a>
        <div class="svg_group">
          <a href="" class="instagram svg">
            <img src="../svg/instagram.svg" alt="" class="inst_svg">
          </a>
          <a href="" class="facebook svg">
            <img src="../svg/facebook.svg" alt="" class="fb_svg">
          </a>
          <a href="" class="whatsapp svg">
            <img src="../svg/whatsapp.svg" alt="" class="wa_svg">
          </a>
        </div>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">О нас</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Отзывы</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Оплата</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Реквизиты</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Услуги</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Рыбалка</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Охота</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Питание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Развлечение</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Цены</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Доп. услуги</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Люкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Полулюкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Одноместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(мансарда)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Трехместный</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Четырехместный</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Фотогалерея</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Фотографии</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Видео</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Контакты</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Астраханская обл., Камызякский р-н,<br> 
           п. Станья, ул. Рыбацкая, д. 21</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Координаты: 45.819128, 48.110281</a></li>
          <li class="footer_list_item"><a href="mailto:info@ribackiy-stan.ru" class="footer_link">info@ribackiy-stan.ru</a></li>
          <li class="footer_list_item"><a href="tel:+79275792337" class="footer_link">+7 (927) 579-23-37</a></li>
        </ul>
      </div>
     </section>
     <section class="copyright">
      <div class="copyright_container">
        <a href="" class="copyright_link">2011-2021 Рыбацкий стан</a>
        <a href="" class="copyright_link">Политика конфиденциальности</a>
        <a href="" class="copyright_link">Разработано в Everywin</a>
      </div>
     </section>
   </footer>
</body>
</html>