<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рыбацкий Стан</title>
  <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
  <header class="header">
    <section class="top_header">
      <a href="../index.html" class="logo_link">
        <img src="../svg/logo.svg" alt="logo" class="logo_svg">
        <span class="logo_name">рыбацкий стан</span>
      </a>
      <a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="header_adress">
        <span class="adress">
          Астраханская обл., Камызякский р-н, п. Станья, ул. Рыбацкая, д. 21
        </span>
      </a>
      <div class="header_contacts">
        <a href="mailto:info@ribackiy-stan.ru" class="mail_link">
          <span>info@ribackiy-stan.ru</span>
        </a>
        <a href="tel:+79275792337" class="tel_link">
          <span class="tel">+7 927 579 23 37</span>
          <img src="../svg/phone.svg" alt="tel" class="tel_svg">
        </a>
      </div>
    </section>
    <nav class="header_menu">
      <ul class="menu_list">
        <li class="menu_item"><a href="" class="menu_link">О нас</a></li>
        <li class="menu_item"><a href="" class="menu_link">Номера</a></li>
        <li class="menu_item"><a href="" class="menu_link">Флот</a></li>
        <li class="menu_item"><a href="" class="menu_link">Цены</a></li>
        <li class="menu_item"><a href="" class="menu_link">Услуги</a></li>
        <li class="menu_item"><a href="" class="menu_link">Фотографии</a></li>
        <li class="menu_item"><a href="" class="menu_link">Отзывы</a></li>
        <li class="menu_item"><a href="" class="menu_link">Блог</a></li>
        <li class="menu_item"><a href="" class="menu_link">Контакты</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="blog">
      <span class="main_header">Блог</span>
      <div class="nb_container">
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Закон о рыбалке</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">С 1 января 2020 г. в стране начнут действовать новые правила любительской ловли. Из основного: вводятся суточные нормы вылова, ужесточаются ограничения на использование сетей и подводную ловлю.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Самая привлекательная рыбалка</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">Наверное, нет такого даже начинающего рыбака, который бы не знал, что наиболее привлекательная рыбалка — это рыбалка в Астрахани. Тем не менее, не все рыболовные базы в Астрахани предлагают любителям этого увлекательного и захватывающего занятия отличные условия для отменного времяпровождения.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Зимняя рыбалка в Астрахани – к чему готовиться?</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">Рыбалка в Астрахани сейчас становится всё более популярным видом досуга. К нам приезжают из разных регионов и мест России, преодолевают сотни и даже тысячи километров, чтобы половить рыбу именно здесь.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
      </div>
      <div class="nb_container">
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Особенности ловли судака</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">Ловля судака увлекательное занятие, ведь прикорм для судака непростой. Только опытные рыбаки знают тонкости подхода и подготовки к успешной ловли этой рыбы.
            Лучшее время ловить судака, средина осени. Именно в этот период у рыбы начинается активная фаза.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Особенности ловли сома в Астрахани</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">Процесс рыбалки дело тонкое. Подход к каждой рыбе тоже имеет ряд особенностей, о которых мы хотим рассказать вам. Ловля судака в Астрахани завершится успехом и удовольствием, если предварительно изучить немного информацию о этой рыбе, ее повадках, особенностях и предпочтениях в приманках.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
        <article class="nb_card">
          <div class="nb_header">
            <span class="nb_head">Где в России отдохнуть настоящему мужику</span>
            <span class="nb_date">11 декабря 2019</span>
          </div>
          <p class="nb_description">Понимаем, что рискуем попасть под гнев феминисток, поэтому заранее извиняемся перед женщинами-рыбаками (или рыбачками?). Наш пост адресован мужчинам. Причем исключительно тем мужчинам, которые любят «трушную» рыбалку, а не вот эти вот все псевдовылазки на туристических корабликах где-нибудь в экзотичном Таиланде или такой родной уже Турции.</p>
          <a href="" class="nb_button">Читать</a>
        </article>
      </div>
      <div class="pagination">
        <span class="pagination_plug">pagination plug</span>
      </div>
    </section>
  </main>
  <footer class="footer">
    <section class="footer_top">
      <div class="footer_group">
        <a href="../index.html" class="footer_logo">
          <img src="../svg/logo_footer.svg" alt="" class="footer_logo_svg">
          <span class="footer_logo_name">рыбацкий стан</span>
        </a>
        <div class="svg_group">
          <a href="" class="instagram svg">
            <img src="../svg/instagram.svg" alt="" class="inst_svg">
          </a>
          <a href="" class="facebook svg">
            <img src="../svg/facebook.svg" alt="" class="fb_svg">
          </a>
          <a href="" class="whatsapp svg">
            <img src="../svg/whatsapp.svg" alt="" class="wa_svg">
          </a>
        </div>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">О нас</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Отзывы</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Оплата</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Реквизиты</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Услуги</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Рыбалка</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Охота</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Питание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Развлечение</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Цены</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Доп. услуги</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Люкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Полулюкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Одноместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(мансарда)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Трехместный</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Четырехместный</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Фотогалерея</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Фотографии</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Видео</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Контакты</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Астраханская обл., Камызякский р-н,<br> 
           п. Станья, ул. Рыбацкая, д. 21</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Координаты: 45.819128, 48.110281</a></li>
          <li class="footer_list_item"><a href="mailto:info@ribackiy-stan.ru" class="footer_link">info@ribackiy-stan.ru</a></li>
          <li class="footer_list_item"><a href="tel:+79275792337" class="footer_link">+7 (927) 579-23-37</a></li>
        </ul>
      </div>
     </section>
     <section class="copyright">
      <div class="copyright_container">
        <a href="" class="copyright_link">2011-2021 Рыбацкий стан</a>
        <a href="" class="copyright_link">Политика конфиденциальности</a>
        <a href="" class="copyright_link">Разработано в Everywin</a>
      </div>
     </section>
   </footer>
</body>
</html>