<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Рыбацкий Стан</title>
  <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
  <header class="header">
    <section class="top_header">
      <a href="../index.html" class="logo_link">
        <img src="../svg/logo.svg" alt="logo" class="logo_svg">
        <span class="logo_name">рыбацкий стан</span>
      </a>
      <a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="header_adress">
        <span class="adress">
          Астраханская обл., Камызякский р-н, п. Станья, ул. Рыбацкая, д. 21
        </span>
      </a>
      <div class="header_contacts">
        <a href="mailto:info@ribackiy-stan.ru" class="mail_link">
          <span>info@ribackiy-stan.ru</span>
        </a>
        <a href="tel:+79275792337" class="tel_link">
          <span class="tel">+7 927 579 23 37</span>
          <img src="../svg/phone.svg" alt="tel" class="tel_svg">
        </a>
      </div>
    </section>
    <nav class="header_menu">
      <ul class="menu_list">
        <li class="menu_item"><a href="" class="menu_link">О нас</a></li>
        <li class="menu_item"><a href="" class="menu_link">Номера</a></li>
        <li class="menu_item"><a href="" class="menu_link">Флот</a></li>
        <li class="menu_item"><a href="" class="menu_link">Цены</a></li>
        <li class="menu_item"><a href="" class="menu_link">Услуги</a></li>
        <li class="menu_item"><a href="" class="menu_link">Фотографии</a></li>
        <li class="menu_item"><a href="./reviews.html" class="menu_link">Отзывы</a></li>
        <li class="menu_item"><a href="./blog.html" class="menu_link">Блог</a></li>
        <li class="menu_item"><a href="./contact.html" class="menu_link">Контакты</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="menu_base">
      <div class="menu_container">
        <p class="menu_text">Рыболовная база «Рыбацкий стан» — это уютная атмосфера, аромат свежеприготовленной пищи, перед которым просто невозможно устоять, музыкальная программа. Спокойные беседы оставят надолго воспоминания о радушном приеме и времени, проведенном за трапезой.
        <br>
        <br>
        ​В нашем заведении, Вы отведаете лучшие блюда астраханской кухни, восполните силы после утренней вылазки на охоту или рыбалку! Караоке и новейшее медиа — оборудование, обеспечат Вам незабываемый досуг, раскроют Ваши музыкальные таланты и не дадут заскучать! Ресторан рыболовной базы «Рыбацкий стан» разнообразит ваше повседневное меню, предлагая вкуснейшие астраханские закуски и блюда.
        <br>
        <br>
        Наши повара могут приготовить на индивидуальный заказ любые блюда и удовлетворят самых привередливых гурманов. Можно также воспользоваться мангалом или доверить приготовление своих трофеев нашим профессионалам!
        <br>
        <br>
        Вам предложат разнообразные напитки, закуски, живое пиво, сигары и вина. Наши первые отдыхающие были удивлены разнообразием рыбных, мясных блюд, а также овощных рагу. У нас учитываются любые потребности отдыхающих — будь то детские праздники, отдых с семьей, а также еда с собой на рыбалку или туристическую поездку.
        <br>
        <br>
        В ресторане «Рыбацкий стан» очень комфортно проводить семейные праздники и корпоративные мероприятия, сочетая активный отдых на природе с европейским качеством обслуживания на базе «Рыбацкий Стан». Не все рыболовные базы в Астрахани могут позволить себе такое!</p>
      </div>
    </section>
    <section class="menu_phrase">
      <p class="menu_phrase_text">
        Баранина, шашлык на углях, щи, уха из осетра, фаршированные перцы… <br> Вы уже проголодались? Спешите заказать тур! Рыболовная база отдыха «Рыбацкий <br> Стан» предлагает также трехразовое комплексное питание, которое включено <br> в стоимость путёвки
      </p>
    </section>
    <section class="menu_tabs_list">
      <h2 class="menu_tabs_header">Меню ресторана</h2>
      <div class="menu_tabs">
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-1" value="" checked>
        <label for="menu_tab-btn-1">Понедельник</label>
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-2" value="">
        <label for="menu_tab-btn-2">Вторник</label>
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-3" value="">
        <label for="menu_tab-btn-3">Среда</label>
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-4" value="">
        <label for="menu_tab-btn-4">Четверг</label>
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-5" value="">
        <label for="menu_tab-btn-5">Пятница</label>
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-6" value="">
        <label for="menu_tab-btn-6">Суббота</label>
        <input type="radio" name="menu_tab-btn" id="menu_tab-btn-7" value="">
        <label for="menu_tab-btn-7">Воскресенье</label>
        <div id="menu_content-1">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
        <div id="menu_content-2">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
        <div id="menu_content-3">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
        <div id="menu_content-4">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
        <div id="menu_content-5">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
        <div id="menu_content-6">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
        <div id="menu_content-7">
          <div class="menu_table">
            <div class="menu_table_headers">
              <div class="menu_table_header"><span>Завтрак</span></div>
              <div class="menu_table_header"><span>Обед</span></div>
              <div class="menu_table_header"><span>Ужин</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Каша овсяная на молоке</span></div>
              <div class="menu_table_row"><span>Рассольник</span></div>
              <div class="menu_table_row"><span>Мясо в горшочках</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Яичница</span></div>
              <div class="menu_table_row"><span>Котлеты рыбные</span></div>
              <div class="menu_table_row"><span>Грибы маринованные</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Нарезка (колбаса, сыр)</span></div>
              <div class="menu_table_row"><span>Картофельное пюре (гарнир)</span></div>
              <div class="menu_table_row"><span>Овощная нарезка (помидор, огурец)</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Масло сливочное</span></div>
              <div class="menu_table_row"><span>Салат из капусты</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Хлеб</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Чай с лимоном или кофе</span></div>
              <div class="menu_table_row"><span>Выпечка</span></div>
            </div>
            <div class="menu_table_rows">
              <div class="menu_table_row"><span></span></div>
              <div class="menu_table_row"><span>Печенье, конфеты</span></div>
              <div class="menu_table_row"><span></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu_admin_text">
        <p class="menu_admin_thick">Меню ресторана «Рыбацкий стан» для отдыхающих на рыболовной базе входит в стоимость тура!</p>
        <p class="menu_admin_fat">Администрация ООО «Рыбацкий Стан»</p>
      </div>
    </section>
  </main>
  <footer class="footer">
    <section class="footer_top">
      <div class="footer_group">
        <a href="../index.html" class="footer_logo">
          <img src="../svg/logo_footer.svg" alt="" class="footer_logo_svg">
          <span class="footer_logo_name">рыбацкий стан</span>
        </a>
        <div class="svg_group">
          <a href="" class="instagram svg">
            <img src="../svg/instagram.svg" alt="" class="inst_svg">
          </a>
          <a href="" class="facebook svg">
            <img src="../svg/facebook.svg" alt="" class="fb_svg">
          </a>
          <a href="" class="whatsapp svg">
            <img src="../svg/whatsapp.svg" alt="" class="wa_svg">
          </a>
        </div>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">О нас</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Отзывы</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Оплата</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Реквизиты</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Услуги</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Блог</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Рыбалка</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Охота</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Питание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Развлечение</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Цены</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Доп. услуги</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Проживание</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Люкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Полулюкс</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Одноместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(эконом)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Двухместный(мансарда)</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Трехместный</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Четырехместный</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Фотогалерея</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Фотографии</a></li>
          <li class="footer_list_item"><a href="" class="footer_link">Видео</a></li>
        </ul>
      </div>
      <div class="footer_group">
        <ul class="footer_list">
          <li class="footer_top_item"><a href="" class="footer_link">Контакты</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Астраханская обл., Камызякский р-н,<br> 
           п. Станья, ул. Рыбацкая, д. 21</a></li>
          <li class="footer_list_item"><a href="https://goo.gl/maps/iQ8UVadrc7YhSsLY7" class="footer_link">Координаты: 45.819128, 48.110281</a></li>
          <li class="footer_list_item"><a href="mailto:info@ribackiy-stan.ru" class="footer_link">info@ribackiy-stan.ru</a></li>
          <li class="footer_list_item"><a href="tel:+79275792337" class="footer_link">+7 (927) 579-23-37</a></li>
        </ul>
      </div>
     </section>
     <section class="copyright">
      <div class="copyright_container">
        <a href="" class="copyright_link">2011-2021 Рыбацкий стан</a>
        <a href="" class="copyright_link">Политика конфиденциальности</a>
        <a href="" class="copyright_link">Разработано в Everywin</a>
      </div>
     </section>
   </footer>
</body>
</html>