
/* ==========FONTS=========== */

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url(../fonts/FiraSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

/* ========RESET========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========HEADER======= */

.top_header {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.logo_link {
  display: flex;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #06324F;
  text-decoration: none;
  margin-top: 24px;
}

.logo_name {
  margin-top: 8px;
  margin-left: 8px;
}

.logo_svg {
  width: 32px;
  height: 32px;
}

.header_adress {
  font-family: 'FiraSans', Arial, sans-serif;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  margin-top: 32px;
}

.header_contacts {
  display: flex;
  justify-content: space-between;
}

.mail_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
  text-decoration: none;
  text-align: center;
  margin-top: 32px;
}

.tel_link {
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #0B8F91;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.tel {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 30px;
}

.tel_svg {
  margin-top: 24px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 48px 64px 16px;
}

.menu_link {
  text-decoration: none;
  font-family: 'FiraSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #06324F;
}